.scrollBoxWrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scrollBarWrap {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
}
.scrollBar {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 4px;
    cursor: pointer;
}
.scrollContentWrap {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollContent{
    position:relative;
    min-height:calc(100% - 1px);
}
.sidebar-wrap {
    width: 100px;
    height: 100%;
    float: left;
}
.sidebar-header {
    width: 100%;
    height: 68px;
    background: #0e2c3d;
    padding: 18px 0 0 0;
}
.sidebar-content {
    width: 100%;
    height: 702px;
    position: relative;
    background: -webkit-linear-gradient(top, #0d293c, #0d2239);
    background: -moz-linear-gradient(top, #0d293c, #0d2239);
    background: -ms-linear-gradient(top, #0d293c 0%,#0d2239 100%);
    background: -o-linear-gradient(top, #0d293c, #0d2239);
    background: linear-gradient(top, #0d293c, #0d2239);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#0d293c,endcolorstr=#0d2239,gradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#0d293c,endcolorstr=#0d2239,gradientType=0);
    border-bottom-left-radius: 5px;
}
.sidebar-header > .icon-wrap {
    width: 64%;
    height: 32px;
    margin: 0 auto;
    display: block;
}
.sidebar-header > .icon-wrap > .icon-logo {
    stroke: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}
.side-list {
    padding-top: 30px;
    height: 100%;
}
.side-list > li {
    height: 32px;
    position: relative;
}
.side-list > li:hover > span {
    display: block;
    transform: translateX(15px);
    visibility: visible;
}
.side-list > li > span {
    position: absolute;
    width: 74px;
    height: 32px;
    line-height: 32px;
    color: #333;
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    top: 0;
    left: 65px;
    z-index: 100;
    transition: transform 0.1s ease-in-out;
    visibility: hidden;
}
.side-list > li > span:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fafafa;
    left: -3px;
    top: 50%;
    transform: rotate(45deg);
    margin-top: -3px;
}
.side-list > li.recycle span {
    left: 28px!important;
}
.side-list > li:hover {
    cursor: pointer;
}
.side-list .sms, .side-list .note, .side-list .photo, .side-list .find {
    margin-top: 30px;
}
.side-list .recycle {
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: 36px;
}
.side-list > li > a {
    margin: 0 auto;
    display: block;
    height: 100%;
    width: 34px;
}
.side-list .contact a {
    background: url(/images/sync_common.png) no-repeat -121px -108px;
}
.side-list .contact:hover a {
    background: url(/images/sync_common.png) no-repeat -188px -108px;
}
.side-list .contact.active a, .side-list .contact.active:hover a {
    background: url(/images/sync_common.png) no-repeat -255px -108px;
}
.side-list .sms a {
    background: url(/images/sync_common.png) no-repeat -321px -108px;
}
.side-list .sms:hover a {
    background: url(/images/sync_common.png) no-repeat -388px -108px;
}
.side-list .sms.active a, .side-list .sms.active:hover a {
    background: url(/images/sync_common.png) no-repeat -455px -108px;
}
.side-list .note a {
    background: url(/images/sync_common.png) no-repeat -522px -108px;
}
.side-list .note:hover a {
    background: url(/images/sync_common.png) no-repeat -589px -108px;
}
.side-list .note.active a, .side-list .note.active:hover a {
    background: url(/images/sync_common.png) no-repeat -655px -108px;
}
.side-list .photo a {
    background: url(/images/sync_common.png) no-repeat -723px -108px;
}
.side-list .photo:hover a {
    background: url(/images/sync_common.png) no-repeat -790px -108px;
}
.side-list .photo.active a, .side-list .photo.active:hover a {
    background: url(/images/sync_common.png) no-repeat -857px -108px;
}
.side-list .find a {
    background: url(/images/sync_common.png) no-repeat -924px -108px;
}
.side-list .find:hover a {
    background: url(/images/sync_common.png) no-repeat -991px -108px;
}
.side-list .find.active a, .side-list .find.active:hover a {
    background: url(/images/sync_common.png) no-repeat -1058px -108px;
}
.side-list .recycle a {
    background: url(/images/sync_common.png) no-repeat -1126px -108px;
}
.side-list .recycle:hover a {
    background: url(/images/sync_common.png) no-repeat -1193px -108px;
}
.side-list .recycle.active a, .side-list .recycle.active:hover a {
    background: url(/images/sync_common.png) no-repeat -1260px -108px;
}
@media all and (max-width:1200px){
    .sidebar-wrap{
        width:80px;
    }
}
@media all and (max-height:650px){

}
.container{
    width:100%;
    height:100%;
}
.flyme-content {
    width: 1110px;
    height: calc(100% - 74px - 52px - 20px - 30px);
    min-height: 420px;
    margin: 94px auto 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}
.flyme-content-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.left-wrap {
    float: left;
    width: 359px;
    height: 100%;
    position:relative;
    background: #f6f6f6;
}
.left-wrap:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #e0e0e0;
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 2;
}
.left-header {
    width: 100%;
    height: 68px;
    background: #fafafa;
    position: relative;
    border-bottom:1px #f0f0f0 solid;
    padding:1px 0 0;
}
.left-head-menu{
    height:40px;
    line-height:40px;
    margin:14px 0 0 20px;
    font-size:16px;
    color:#666;
    position:relative;
    float:left;
    cursor:pointer;
}
.left-head-menu:after{
    width:12px;
    height:6px;
    content:'';
    position:absolute;
    right:-17px;
    top:18px;
    background:url(/images/common.png) no-repeat 0 -532px;
}
.left-head-submenu{
    width: 26px;
    height: 26px;
    background: url(/images/icons.gif) no-repeat 0 -761px;
    margin: 25px 9px 0 0;
    float: right;
    cursor: pointer;
}
.left-head-list{
    padding:0 0 0 17px;
}
.left-head-list li{
    height:68px;
    line-height:68px;
    float:left;
    margin:0 22px 0 0;
    position:relative;
}
.left-head-list li a{
    width:100%;
    height:100%;
    padding:0 5px;
    display:block;
    font-size:16px;
    color:#ccc;
}
.left-head-list li a.active{
    color:#666;
}
.left-head-list li a.active:after{
    width:50%;
    height:3px;
    background:#269cfc;
    position:absolute;
    left:50%;
    margin:0 0 0 -25%;
    bottom:0;
    content:'';
    -webkit-transition:width 0.1s ease;
    -moz-transition:width 0.1s ease;
    transition:width 0.1s ease;
}
.left-head-list li a:after{
    width:0;
}
.left-body {
    width: 100%;
    height: calc(100% - 69px - 46px);
    position: relative;
    overflow: hidden;
}
.left-body.no-data{
    height: calc(100% - 69px);
}
.left-body ul{
    width:100%;
    height:100%;
    overflow:hidden;
    overflow-y: auto;
}
.right-wrap {
    width: 650px;
    height: 100%;
    float: left;
    position: relative;
    background: #f3f3f3;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.right-header {
    width: 100%;
    height: 68px;
    background: #fafafa;
    position: relative;
    border-bottom:1px #f0f0f0 solid;
}
.right-body{
    width: 100%;
    height: 411px;
    position: relative;
    background: #f3f3f3;
}
.left-body li.item{
    width:100%;
    padding:0 17px;
    min-height:88px;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    overflow:hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
}
.left-body li.item:hover{
    background:#eee;
}
.left-body li.item.active{
    background:#1FA9EB;
}
.left-body li.item .i-name{
    color:#666;
}
.left-body li.item:hover .i-detail,
.left-body li.item.active .i-detail{
    border-color:rgba(31,169,235,0);
}
.left-body li.item.active .i-name{
    color:#fff
}
.left-body li.item.active .i-sms{
    color:#fff;
}
.left-body li.item.active .i-time{
    color:#e7e7e7;
}
.left-body li.item:hover .i-checkbox,
.left-body li.item.active .i-checkbox,
.left-body li.item.multi .i-checkbox{
    display:block;
}
.left-body li.item .i-detail{
    width:-webkit-calc(100% - 40px - 14px - 1px);
    width:-moz-calc(100% - 40px - 14px - 1px);
    width:-ms-calc(100% - 40px - 14px - 1px);
    width:calc(100% - 40px - 14px - 1px);
    float:left;
    padding:11px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:14px;
    position: relative;
    border-bottom:1px #eee solid;
}
.left-body li.item .i-detail:after {
    background-position: 0 bottom;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    overflow: hidden;
}
.left-body li.item .i-content{
    width:-webkit-calc(100% - 50px);
    width:-ms-calc(100% - 50px);
    width:-moz-calc(100% - 50px);
    width:calc(100% - 50px);
    height:66px;
    line-height:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.left-body li.item .i-content span{
    width:100%;
    height:20px;
    line-height:20px;
    display:block;
}
.left-body li.item .i-name,
.left-body li.item .i-sms,
.right-body-multi li .i-sms{
    font-size:14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}
.left-body li.item .i-sms{
    color:#333;
}
.left-body li.item .i-time{
    color:#999;
    font-size:12px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.i-checkbox{
    width:50px;
    height:36px;
    position:relative;
    display:none;
    position:absolute;
    right:10px;
    top:26px;
    cursor:pointer;
}
.i-checkbox i{
    width:16px;
    height:16px;
    border-radius:999px;
    margin:10px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:block;
    background:url(/images/checkbox.png) -3px -39px;
}
.i-checkbox.checked i {
    background-position: -38px -39px;
}
.left-chose{
    width:100%;
    height:46px;
    line-height:46px;
    display:block;
    background:#fff;
}
.left-chose .c-tip{
    float:right;
}
.left-chose .c-choseall{
    float:right;
    position:relative;
}
.left-chose .c-choseall .i-checkbox{
    width:40px;
    height:46px;
    display:block;
    position:relative;
    right:0;
    top:0;
    padding:15px 12px 0 0;
}
.left-chose .c-choseall .i-checkbox i{
    margin:0 auto;
}

.i-avata{
    width:40px;
    height:40px;
    border-radius:999px;
    text-align:center;
    line-height:40px;
    margin:22px 0;
    color:#fff;
    overflow:hidden;
    float:left;
    font-size: 13px;
}
.i-avata.color1{
    background-color: #e26f41;
}
.i-avata.color2{
    background-color: #dd5847;
}
.i-avata.color3{
    background-color: #6e6bc8;
}
.i-avata.color4 {
    background-color: #517bd1;
}
.i-avata.color5 {
    background-color: #28bc92;
}
.i-avata.color6 {
    background-color: #54ae56;
}
.i-avata.color7 {
    background-color: #e9a63b;
}

.right-body{
    width:100%;
    height:calc(100% - 69px);
    position:relative;
    overflow:hidden;
}

.right-header .r-btns{

}

.right-header .r-btns a{
    padding:0 20px;
    height:68px;
    line-height:68px;
    display:block;
}

.right-header .r-btns .r-cancel{
    float:left;
    color:#02a6e9;
}

.right-header .r-btns .r-del{
    float:right;
    color:#f00;
}


@media all and (max-width:1200px){
    .flyme-content{
        width:1000px;
    }
    .left-wrap{
        width:290px;
    }
    .right-wrap{
        width:630px;
    }
}
.nodata{
    width:100%;
    height:100%;
    display:table;
    position: relative;
}

.nodata-tip{
    display:table-cell;
    text-align:center;
    vertical-align: middle;
    color:#999;
    font-size:14px;
}
.waiting{
    width:100%;
    height:100%;
    display:table;
    position: relative;
}

.waiting-pic{
    display:table-cell;
    text-align:center;
    vertical-align: middle;
    color:#999;
    font-size:14px;
}
.waiting-pic span{
    width:50px;
    height:50px;
    display:block;
    margin:0 auto;
    border-radius:8px;
    background:#fff;
}
.waiting-pic img{
    width:24px;
    height:24px;
    margin:13px 0 0;
}
.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
    margin:12px 0 0;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -ms-transform: rotate(360deg)
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -ms-transform: rotate(360deg)
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 50;
    -webkit-transform-origin: center;
    transform-origin: center;
    stroke: #4285F4;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
}
.modal-wrap {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    text-align: center;
    outline: 0;
}
.modal-wrap:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
    width: 0;
    overflow: hidden;
}
.modal-mask {
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(0, 0, 0);
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}
.modal {
    width: 450px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
    position: relative;
    margin: 0 auto;
}
.modal .dialog {
    width: 100%;
    min-height: 162px;
    display: table;
}
.modal .dialog .content {
    padding: 25px;
    display: table-cell;
    vertical-align: middle;
}
.modal .dialog-tip {
    font-size: 14px;
    padding: 25px 0 20px;
}
.modal-title {
    width: 90%;
    height: 66px;
    line-height: 66px;
    margin: 0 auto;
    border-bottom: 1px #ccc solid;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: 0;
    outline: none;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMARevwq56uCiIAAAApSURBVAjXY3BkYGAQYRASYGBUBCIQg0FIUBEoyGgsACUhIhBZiEqILgBUJALL81QgwgAAAABJRU5ErkJggg==) no-repeat center center;
}
.modal-footer {
    width: 90%;
    margin: 0 auto;
    border-top: 1px #ccc solid;
    text-align: center;
    font-size: 0;
}
.modal-footer .btn {
    width: 50%;
    height: 66px;
    line-height: 66px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    color: #5a5a5a;
}
.modal-footer .btn:nth-last-child(1) {
    color: #1D87E4;
}
.modal-footer .btn-size1 {
    width: 100%;
}
.modal-footer .btn-size2 {
    width: 50%;
}
.modal-footer .btn-size3 {
    width: 33.3%;
}
.modal .dialog-tip {
    text-align: center;
}
.modal .dialog-tip img {
    margin: 0 0 5px;
}
.modal .dialog-tip p {
    font-size: 14px;
    color: #999;
}
.modal .dialog-tip .dt {
    font-size: 16px;
    color: #4A4A4A;
    padding: 2px 0 6px;
}

.modal-slide-fade-enter, .modal-slide-fade-appear {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
}
.modal-slide-fade-enter, .modal-slide-fade-appear, .modal-slide-fade-leave {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}
.modal-slide-fade-enter.modal-slide-fade-enter-active, .modal-slide-fade-appear.modal-slide-fade-appear-active {
    -webkit-animation: rcDialogSlideFadeIn .2s ease;
    animation-name: rcDialogSlideFadeIn .2s ease;
}
.modal-slide-fade-leave.modal-slide-fade-leave-active {
    -webkit-animation: rcDialogSlideFadeOut .2s ease;
    animation: rcDialogSlideFadeOut .2s ease;
}
@-webkit-keyframes rcDialogSlideFadeIn {
    0% {
        -webkit-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes rcDialogSlideFadeIn {
    0% {
        -webkit-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes rcDialogSlideFadeOut {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }
}
@keyframes rcDialogSlideFadeOut {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, -20px);
        transform: translate(0, -20px);
        opacity: 0;
    }
}
.modal-fade-enter, .modal-fade-appear {
    opacity:1;
}
/*.modal-fade-enter, .modal-fade-appear {
    opacity: 0;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.modal-fade-leave {
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.modal-fade-enter.modal-fade-enter-active, .modal-fade-appear.modal-fade-appear-active {
    -webkit-animation-name: rcDialogFadeIn;
    animation-name: rcDialogFadeIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.modal-fade-leave.modal-fade-leave-active {
    -webkit-animation-name: rcDialogFadeOut;
    animation-name: rcDialogFadeOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}*/
/*@-webkit-keyframes rcDialogFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rcDialogFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes rcDialogFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rcDialogFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}*/
.modal-mask-hidden {
    display: none;
}
.right-header-info .i-avata{
    margin:14px 0 14px 16px;
}
.right-header-info .i-detail{
    float:left;
    padding:14px 0 14px 10px;
}
.right-header-info .i-detail p{
    line-height:20px;
}
.right-header-info .i-detail p:nth-child(2){
    color:#999;
    font-size:12px;
}
.right-header-info .i-detail-single p{
    line-height:40px;
}
.right-header-info .i-count{
    float:right;
    margin:0 16px 0 0;
    line-height:68px;
    font-size:14px;
}
.right-body-list{
    width:100%;
    height:100%;
    overflow:hidden;
    padding:0 36px;
}
.right-body-list li{
    margin:20px 0 10px;
}
.right-body-list .r-title{
    font-size:13px;
    color:#999;
    margin:0 0 15px;
}
.right-body-list .r-title a{
    padding:0 5px;
    margin:0 15px 0 0;
    display:none;
}
.right-body-list li:hover .r-title a{
    display:inline-block;
}
.right-body-list .r-self .r-title{
    text-align:right;
}
.right-body-list .r-body{
    padding:10px 15px;
    border-radius:20px 0 20px 20px;
    background: #56BE6B;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
    color:#fff;
    float:right;
    max-width:280px;
}
.right-body-list .r-other .r-title{
    text-align:left;
}
.right-body-list .r-other .r-title a{
    margin:0 0 0 15px;
}
.right-body-list .r-other .r-body{
    border-radius:0 20px 20px 20px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
    color:#333;
    float:left;
}
.right-body-multi{
    width:100%;
    height:100%;
    position:relative;
    padding:1px 36px 0;
}
.right-body-multi li{
    margin:30px 0 32px;
}
.right-body-multi li .i-avata{
    width:60px;
    height:60px;
    line-height:60px;
    margin:0;
}
.right-body-multi li .i-detail{
    width:calc(100% - 80px);
    float:left;
    margin-left:20px;
    border-bottom:1px #dedede solid;
    padding:0 0 20px 0;
}
.right-body-multi li .i-detail span{
    width:100%;
    height:20px;
    line-height:20px;
    display:block;
}
.right-body-multi li .i-time{
    font-size:13px;
    color:#999;
}
